{% extends "index.html" %}

{% block content %}
<div class="authors">
  <div class="jumbotron">
      <div class="container">
          <h1>Howdy!</h1>
      </div>
  </div>
  <div class="container">
    <div class="row body-text">
      <div class="col-md-6">
        <img class="img-circle" src="/images/authors/adrian.jpg" width="250" height="250">
        <h2>Adrian Sonnenschein</h2>
        <p>
          Lost in and around Tucson, AZ.&nbsp;&nbsp;Adrian is a software engineer with an
          academic background in physical geography and political science.&nbsp;&nbsp;
          His professional background is in non-profit and government funded
          geoscientific and political research.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-circle" src="/images/authors/huck.jpeg" width="250" height="250">
        <h2>Huckleberry Finn</h2>
        <p>
          Native Sonoran Desert dog.&nbsp;&nbsp;Huckleberry loves all things dirt and hates
          getting wet.&nbsp;&nbsp;His favorite game is tug-o'-war and he looks forward to steak
          night every Sunday evening.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
