{% extends "index.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>
            <div class="static">practicalprogramming.io is for&nbsp;</div>
            <div class="magic"></div>
        </h1>
        <p>
            Tutorials and resources about the craft of coding
            and problem solving with computers in today's industry -
            written by professional software engineers!
        </p>
    </div>
</div>
<div class="container">
    <div class="row logos">
        <div class="col-md-1">
            <a href="/tutorials/?tags=javascript">
              <img src="/images/logos/javascript.png" class="img-js">
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="/tutorials/?tags=mongodb">
              <img src="/images/logos/mongodb-black.png" class="img-mongo">
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="/tutorials/?tags=nodejs">
              <img src="/images/logos/nodejs.png" class="img-node">
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <a href="/tutorials/?tags=postgresql">
              <img src="/images/logos/postgresql.png" class="img-pg">
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="/tutorials/?tags=python">
              <img src="/images/logos/python.png" class="img-py">
            </a>
        </div>
    </div>
    <div class="row">
        <h3>Most Recent Tutorials</h3>
        <ul class="list-unstyled">
            {% for tutorial in tutorials %}
                {% include "tutorials/tutorials_list.html" %}
            {% endfor %}
        </ul>
    </div>
    <hr>
</div>
{% endblock %}
