{% extends "index.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>
            <div class="static">practicalprogramming.io is for&nbsp;</div>
            <div class="magic"></div>
        </h1>
        <p>
            Tutorials and resources about the craft of programming
            and problem solving with computers in today's industry -
            written by professional software engineers!
        </p>
    </div>
</div>
<div class="logos-splash">
    <div class="container">
        <div class="row logos-text">
          Our mission at practicalprogramming.io is to teach people with a thrist
          for knowledge!&nbsp;&nbsp;Here you'll find 'how-to' content about how to work with
          different programming languages, frameworks and database technologies
          across the whole software stack.&nbsp;&nbsp;We expect users to understand at least
          one programming language at a beginner level in order to understand and
          follow along with tutorials (head over to <a href="/resources/">resources</a>
          for some excellent third-party content if you are not yet comfortable
          programming at a beginner level).
        </div>
        <div class="row logos">
            <div class="col-md-1">
                <a href="/tutorials/?tags=javascript">
                  <img src="/images/logos/javascript.png" class="img-js">
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a href="/tutorials/?tags=mongodb">
                  <img src="/images/logos/mongodb-black.png" class="img-mongo">
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a href="/tutorials/?tags=nodejs">
                  <img src="/images/logos/nodejs.png" class="img-node">
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <a href="/tutorials/?tags=postgresql">
                  <img src="/images/logos/postgresql.png" class="img-pg">
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a href="/tutorials/?tags=python">
                  <img src="/images/logos/python.png" class="img-py">
                </a>
            </div>
        </div>
        <div class="row logos-text">
          As advocates of free and open source software, every single tutorial available on practicalprogramming.io
          has a public repository with working examples hosted on GitHub for you to clone
          and work along with.&nbsp;&nbsp;Our seasoned engineers have advanced level understanding
          of the inner workings and best practices of Python 2.7 and 3.5, JavaScript ES5 and ES6,
          stable and bleeding edge Node.js, PostgreSQL and MongoDB.&nbsp;&nbsp;They'll teach you how to
          develop with these tools across the software stack for production deployment on Linux
          servers using tools like Nginx, Apache, Tomcat and a variety of Unix command line utilities.
        </div>
    </div>
</div>
<div class="home-recent-tutorials">
    <div class="container">
        <div class="row recent-tutorials">
            <h3>Most Recent Tutorials</h3>
            <ul class="list-unstyled">
                {% for tutorial in tutorials %}
                    {% include "tutorials/tutorials_list.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="email-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
              <h4>Stay in the loop with practicalprogramming.io!</h4>
              <p>
                Subscribe to our email mailing list for the
                latest news in software engineering.
              </p>
            </div>
            <div class="col-md-5">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
                <span class="input-group-btn">
                  <button class="btn btn-submit" type="button">Subscribe</button>
                </span>
              </div>
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h5>Learn</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/tutorials/?tags=python">Python</a>
              </li>
              <li>
                <a href="/tutorials/?tags=javascript">JavaScript</a>
              </li>
              <li>
                <a href="/tutorials/?tags=nodejs">Node.js</a>
              </li>
              <li>
                <a href="/tutorials/?tags=postgresql">PostgreSQL</a>
              </li>
              <li>
                <a href="/tutorials/?tags=mongodb">MongoDB</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Connect</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/practicalprogramming-io">GitHub</a>
              </li>
              <li>
                <a href="https://twitter.com/doggyhuck">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>About</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/authors/">Authors</a>
              </li>
              <li>
                <a href="/philosophy/">Philosophy</a>
              </li>
              <li>
                <a href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
