{% extends "index.html" %}

{% block content %}
<div class="jobs jumbotron">
    <div class="container">
        <h2 class="title">
          practicalprogramming.io jobs board
        </h2>
        <br/>
        <h3 class="section-title">for job seekers</h3>
        <p>
          Every job posting goes through a review process before being posted
          publicly.&nbsp;&nbsp;With years of industry experience, our staff knows what
          qualities to look for in an employer.&nbsp;&nbsp;You'll never see a classified
          ad here calling for an engineer to build the next Facebook in three
          weeks' time and a $500 budget.
        </p>
        <br/>
        <h3 class="section-title">for employers</h3>
        <p>
          Job seekers are reviewed as well before being able to respond to
          classified ads.&nbsp;&nbsp;Our staff of professional software engineers is well
          versed in the techinical qualities that make a strong programmer and
          we'll work with you to find the candidate that suits your needs.&nbsp;&nbsp;
          You'll never see a job seeker here who we wouldn't want to work with
          ourselves.
        </p>
        <br/>
        <h3 class="section-title">how much does it cost?</h3>
        <p>
          $30 per month for hosting a classified ad.&nbsp;&nbsp;Everything else
          is free!
        </p>
    </div>
</div>
<div class="container">
</div>
{% endblock %}
