{% extends "index.html" %}

{% block content %}
<div class="philosophy">
  <div class="jumbotron">
    <div class="container">
        <h1>We Believe that...</h1>
    </div>
    <p>
      With a little bit of patience and a few drops of sweat, anyone can teach themself
      how to write computer code.
    </p>
  </div>
  <div class="philosophy-extended">
    <p>
      We would know, after all, most of the content on practicalprogramming.io is
      written by self-taught software engineers.&nbsp;&nbsp;One of the most beautiful
      aspects of the software industry and computer programming in general is how
      accessible it is.&nbsp;&nbsp;Whether you're looking to learn some basic scripting
      to automate a repetitive workflow or you're seeking to pursue a career in software
      engineering, the only barrier to entry is a computer and an internet connection!
    </p>
    <p>
      Having mentored people from a variety of different careers and walks of life who
      want to break into the world of computer code, we're aware of the bombardment of
      educational options available.&nbsp;&nbsp;Most of these options are more than
      happy to take very large amounts of money from their students.&nbsp;&nbsp;No,
      we're not talking about accredited colleges and universities here.&nbsp;&nbsp;
      College isn't for everybody, but to have the option is a privilege that usually
      won't hurt to pursue.&nbsp;&nbsp;We're talking about code "boot camps" and online
      courses that cost thousands of dollars.
    </p>
    <p>
      Enrolling in code "boot camps" and expensive online courses is becoming a popular
      trend amongst people looking to break into the industry.&nbsp;&nbsp;We at
      practicalprogramming.io promise you that there is nothing you'll learn at
      one of these institutions that you can't learn for free on the internet.&nbsp;&nbsp;
      Before enrolling with a "boot camp" or online course, have a look at our guide
      for how to break into software engineering from scratch!
    </p>
  </div>
</div>
{% endblock %}
