{% extends "index.html" %}

{% block content %}
<div class="resources">
  <div class="jumbotron">
      <div class="container">
          <h1>External Resources</h1>
      </div>
  </div>
  <div class="container">
    <h3>Python</h3>
    <ul class="list-unstyled">
      <li><a href="https://docs.python.org/2.7/">Official Python 2.7 Docs</a></li>
      <li><a href="https://docs.python.org/3.5/">Official Python 3.5 Docs</a></li>
      <li><a href="http://learnpythonthehardway.org/book/">Learn Python the Hard Way</a></li>
      <li><a href="https://www.codecademy.com/learn/python">Codecademy - Learn Python</a></li>
    </ul>
    <h3>JavaScript</h3>
    <ul class="list-unstyled">
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla JS Docs</a></li>
      <li><a href="https://developer.mozilla.org/en-US/Learn/JavaScript">Mozilla Learn JS</a></li>
      <li><a href="http://jsforcats.com/">JS for Cats</a></li>
      <li><a href="https://www.codecademy.com/learn/javascript">Codecademy - Learn JS</a></li>
    </ul>
    <h3>Node.JS</h3>
    <ul class="list-unstyled">
      <li><a href="https://nodejs.org/api/">Node.js Docs</a></li>
      <li><a href="https://docs.nodejitsu.com/">Nodejitsu</a></li>
      <li><a href="http://nodeschool.io/">nodeschool.io</a></li>
      <li><a href="https://github.com/maxogden/art-of-node/#the-art-of-node">Art of Node</a></li>
    </ul>
    <h3>PostgreSQL</h3>
    <ul class="list-unstyled">
      <li><a href="http://www.postgresql.org/docs/">PostgreSQL Docs</a></li>
      <li><a href="http://postgresguide.com/">Postgres Guide</a></li>
      <li><a href="http://www.postgresqltutorial.com/">PostgreSQL Tutorial</a></li>
      <li><a href="https://www.codecademy.com/learn/learn-sql">Codecademy - Learn SQL</a></li>
    </ul>
    <h3>MongoDB</h3>
    <ul class="list-unstyled">
      <li><a href="https://docs.mongodb.org/manual/">MongoDB Docs</a></li>
      <li><a href="https://university.mongodb.com/">MongoDB University</a></li>
      <li><a href="http://openmymind.net/2011/3/28/The-Little-MongoDB-Book/">The Little MongoDB Book</a></li>
      <li><a href="http://www.slideshare.net/brianeno/nosql-and-mongodb-introdction">NoSQL and MongoDB Introduction</a></li>
    </ul>
  </div>
</div>
{% endblock %}
