{% extends "index.html" %}

{% block content %}
<div class="tutorials">
  <div class="jumbotron">
      <div class="container">
          <h1 class="title">
            practicalprogramming.io tutorials
          </h1>
          <p>
            New tutorials added on a weekly basis!&nbsp;&nbsp;Browse all or filter
            by content category.
          </p>
      </div>
  </div>
  <div class="container">
    <div class="btn-group">
      <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if activeTag %}
          {{ activeTag }}
        {% else %}
          Content Categories
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for tag in tags %}
          <li>
            <a href="/tutorials/?tags={{ tag.tag_name }}">{{ tag.tag_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            {% for tutorial in tutorials %}
                {% include "tutorials/tutorials_list.html" %}
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock %}
