body {
  background: url("/images/backgrounds/concrete.png") repeat 0 0 #FFFFFF;
  color: #454545;
}
.img-js {
  width: 65px;
  height: 65px;
}
.img-mongo {
  width: 160px;
  height: 43.4531px;
}
.img-node {
  width: 160px;
  height: 43.1875px;
}
.img-pg {
  width: 65px;
  height: 65px;
}
.img-py {
  width: 160px;
  height: 47.4063px;
}
.navbar {
  color: #000000;
  background-color: transparent;
  margin-bottom: 0px;
}
.navbar-inverse {
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #000000;
  font-weight: bold;
}
.navbar-inverse .navbar-brand:hover {
  color: #247BA0;
}
.navbar-inverse .navbar-nav li a {
  color: #000000;
}
.navbar-inverse .navbar-nav li a:hover {
  color: #247BA0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.row.logos {
  margin-top: 15px;
  margin-bottom: 30px;
}
.jumbotron {
  background-color: #454545;
  color: #FFFFFF;
}
.jumbotron .container h2 {
  display: inline-flex;
}
.jumbotron .static {
  color: #F25F5C;
}
.jumbotron .magic {
  background-color: #F25F5C;
  color: #FFFFFF;
}
.jumbotron .title {
  color: #F25F5C;
}
.jumbotron .section-title {
  color: #FFE066;
}
.jumbotron .btn-filter {
  background-color: #247BA0;
  font-size: 16px;
}
.tutorial-item {
  font-size: 17px;
}
.label.label-tag {
  background-color: #70C1B3;
}
.label.label-tag a {
  color: #FFFFFF;
  text-decoration: none;
}
li.tutorial-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
li.tutorial-item a.tutorial-link {
  text-decoration: none;
  font-weight: bold;
}
#create-tutorial {
  height: 100%;
}
#create-tutorial textarea#content.form-control {
  height: 490px;
}
footer {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #454545;
  color: #FFFFFF;
}
