@pastel-gray: #454545;
@pastel-red: #F25F5C;
@pastel-yellow: #FFE066;
@pastel-blue: #247BA0;
@pastel-aqua: #70C1B3;
@pastel-aqua-border: #38746A;
@white: #FFFFFF;
@black: #000000;

@blue-base: #296AD4;
@dark-blue: #2155AA;
@blue-gray: #5B6E8C;
@dark-blue-gray: #2B3442;
@darker-blue-gray: #202532;
@blue-button: #5998FF;
@gray: #F7F7F7;
@text-gray: #A4B3CD;
@text-light-gray: #E2EEFF;
@pink-red: #F23B45;


html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @white;
//  background: url("/images/backgrounds/concrete.png") repeat 0 0 @white;
  color: @pastel-gray;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

.img-js {
  width: 65px;
  height: 65px;
}

.img-mongo {
  width: 160px;
  height: 43.4531px;
}

.img-node {
  width: 160px;
  height: 43.1875px;
}

.img-pg {
  width: 65px;
  height: 65px;
}

.img-py {
  width: 160px;
  height: 47.4063px;
}

.img-twitter {
  margin-right: 7px;
  margin-top: 7px;
  width: 30px;
  height: 25px;
}

.img-github {
  margin-left: 7px;
  margin-top: 4px;
  width: 30px;
  height: 30px;
}

.navbar {
  color: @white;
  background-color: @darker-blue-gray;
  margin-bottom: 0px;
}

.navbar-inverse {

  border-color: transparent;

  .navbar-brand {
    color: @text-light-gray;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: @pastel-red;
  }

  .navbar-nav li a {
    color: @white;
  }

  .navbar-nav li a:hover {
    color: @pastel-red;
  }

}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row.logos-text {
  font-size: 18px;
}

.row.logos {
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
}

.jumbotron {
  background-color: @blue-base;
  color: @white;
  margin-bottom: 50px;

  .container {
    h1 {
      font-size: 54px;
      display: inline-flex;
      color: @black;
    }
    p {
      font-size: 27px;
    }
  }
  .static {
    color: @black;
  }
  .magic {
    background-color: @black;
    color: @white;
  }
  .title {
    color: @black;
  }
  .section-title {
    color: @pastel-yellow;
  }
}

.logos-splash {
  border-bottom: 1px solid #ECEFF7;
  padding-bottom: 50px;
}

.home-recent-tutorials {
  margin-top: 20px;
  margin-bottom: 40px;
}

.tutorial-item {
  font-size: 17px;
}

.label.label-tag {
  background-color: @blue-button;
  border-bottom: thin solid @pastel-aqua-border;
  border-bottom-width: 2px;

  a {
    color: @white;
    text-decoration: none;
  }

  a:hover {
    color: @text-light-gray;
  }

}

.tutorials {

  .btn-filter {
    background-color: @darker-blue-gray;
    color: @text-light-gray;
    font-size: 16px;
  }

}

li.tutorial-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  a.tutorial-link {
    color: @darker-blue-gray;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: @pastel-red;
  }

}

#create-tutorial {
    height: 100%;

    textarea#content.form-control {
        height: 490px;
    }
}

.email-signup {
  background-color: @blue-gray;
  color: @text-light-gray;
  padding-top: 20px;
  padding-bottom: 80px;
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 19px;
  }
  p {
    font-size: 17px;
  }
  a {
    color: @text-light-gray;
    font-size: 15px;
  }
  a:hover {
    color: @pastel-red;
    text-decoration: none;
  }
  button.btn.btn-submit {
    background-color: @blue-button;
    color: @white;
  }
  input.form-control {
    background-color: @gray;
    color: @black;
    border: 1px solid @gray;
  }
  .input-group {
    padding-top: 20px;
  }
}

footer {
  height: 50px;
  background-color: @darker-blue-gray;
  .container {
    .row {
      .col-md-6 {
        padding-left: 0;
      }
    }
    ul.nav.navbar-nav.navbar-right {
      li a {
        padding: 5px;
      }
      li a:hover {
        background-color: transparent;
      }
    }
  }
}
