@pastel-gray: #454545;
@pastel-red: #F25F5C;
@pastel-yellow: #FFE066;
@pastel-blue: #247BA0;
@pastel-aqua: #70C1B3;
@pastel-aqua-border: #38746A;
@white: #FFFFFF;
@black: #000000;

@blue-base: #296AD4;
@dark-blue: #2155AA;
@blue-gray: #5B6E8C;
@dark-blue-gray: #2B3442;
@darker-blue-gray: #202532;
@gray: #F7F7F7;
@text-gray: #A4B3CD;
@text-light-gray: #E2EEFF;
@pink-red: #F23B45;


body {
  background-color: @white;
//  background: url("/images/backgrounds/concrete.png") repeat 0 0 @white;
  color: @pastel-gray;
}

.img-js {
  width: 65px;
  height: 65px;
}

.img-mongo {
  width: 160px;
  height: 43.4531px;
}

.img-node {
  width: 160px;
  height: 43.1875px;
}

.img-pg {
  width: 65px;
  height: 65px;
}

.img-py {
  width: 160px;
  height: 47.4063px;
}

.img-twitter {
  width: 50px;
  height: 50px;
}

.img-github {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.navbar {
  color: @white;
  background-color: @darker-blue-gray;
  margin-bottom: 0px;
}

.navbar-inverse {

  border-color: transparent;

  .navbar-brand {
    color: @text-light-gray;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: @pastel-blue;
  }

  .navbar-nav li a {
    color: @white;
  }

  .navbar-nav li a:hover {
    color: @pastel-blue;
  }

}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row.logos-text {
  font-size: 18px;
}

.row.logos {
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
}

.jumbotron {
  background-color: @blue-base;
  color: @white;
  margin-bottom: 50px;

  .container {
    h1 {
      font-size: 54px;
      display: inline-flex;
    }
    p {
      font-size: 27px;
    }
  }
  .static {
    color: @text-gray;
  }
  .magic {
    background-color: @text-gray;
    color: @white;
  }
  .title {
    color: @text-gray;
  }
  .section-title {
    color: @pastel-yellow;
  }
  .btn-filter {
    background-color: @pastel-blue;
    font-size: 16px;
  }
}

.logos-splash {
  border-bottom: 1px solid #ECEFF7;
  padding-bottom: 50px;
}

.home-recent-tutorials {
  margin-top: 20px;
  margin-bottom: 40px;
}

.tutorial-item {
  font-size: 17px;
}

.label.label-tag {
  background-color: @pastel-aqua;
  border-bottom: thin solid @pastel-aqua-border;
  border-bottom-width: 2px;

  a {
    color: @white;
    text-decoration: none;
  }

}

li.tutorial-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  a.tutorial-link {
    text-decoration: none;
    font-weight: bold;
  }

}

#create-tutorial {
    height: 100%;

    textarea#content.form-control {
        height: 490px;
    }
}

footer {
  background-color: @darker-blue-gray;
  .container {
    ul.nav.navbar-nav.navbar-right {
      li {
        a {
          padding: 5px;
        }
      }
    }
  }
}
